* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0px; padding: 0px; font-family: inherit;}
body {font-family: Verdana, sans-serif; color: #000; background-color: #F5F5F5; font-size: 10px;}

/* harmonisation */
button, img {border: 0}
button {cursor: pointer;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit;}
.nofloat {clear: both}
.droite {float: right;}
.gauche {float: right;}
.rond {-moz-border-radius: 5px;   -webkit-border-radius: 5px;   border-radius: 5px;}
.bord { border: 1px solid #E5E5E5;}
.ombre {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);}
.field {margin: 5px 0;}
.field label {float: left; width: 40%;}
.fiedl .text {float: left; width: 50%;}
.btn { background-color: #006DCC;  background-image: linear-gradient(to bottom, #0088CC, #0044CC); border: none; padding: 3px; color: #fff;}
input.error, select.error, textarea.error {border: 1px solid red;}
label.error {display: none !important;}

#principal {position: relative; width: 100%; min-height: 700px; margin: 0 auto;}
#header {position: fixed; top: 0px; width: 100%; height: 40px; z-index: 200;	background-color: #1E1817; padding: 3px; background: -webkit-linear-gradient( #696969 0%, #1E1817 95%); background: -moz-linear-gradient( #696969 0%, #1E1817 95%); background: -ms-linear-gradient( #696969 0%, #1E1817 95%); background: -o-linear-gradient( #696969 0%, #1E1817 95%); background: linear-gradient( #696969 0%, #1E1817 95%);}
#header span {display: block; font-size: 1.5em; color: #B17228; padding: 3px 0 3px 4%; font-weight: bold;}
#menu {position: fixed; top: 40px; width: 100%; background-color: #AEBAC5; color: #000; height: 33px; padding-left: 4%; font-size: 1.5em; margin: 0 0 10px 0; background: -webkit-linear-gradient( #eee 0%, #AEBAC5 95%); background: -moz-linear-gradient(#eee 0%, #AEBAC5 95%); background: -ms-linear-gradient( #eee 0%, #AEBAC5 95%); background: -o-linear-gradient( #eee 0%, #AEBAC5 95%); background: linear-gradient( #eee 0%, #AEBAC5 95%); z-index: 200;}
#menu #identite {position: absolute; right: 20px;}
#menu #identite a {color: #679AC9;}
#menu .btmenu {position: relative; display: inline-block; height: 30px; padding: 7px; text-align: left; font-weight: bold; color: #666; font-size: 0.8em;}
#menu .btmenu:hover, #menu .On {background-color: #679AC9; color: #000; background: -webkit-linear-gradient( #eee 0%, #679AC9 95%); background: -moz-linear-gradient(#eee 0%, #679AC9 95%); background: -ms-linear-gradient(#eee 0%, #679AC9 95%); background: -o-linear-gradient(#eee 0%, #679AC9 95%); background: linear-gradient( #eee 0%, #679AC9 95%);}
.btmenu:hover div.menu_niv_1{display:block;}
div.menu_niv_1{	position:absolute; top:30px; left:0px; width:180px;	display: none;  background: -webkit-linear-gradient( #eee 0%, #AEBAC5 95%); background: -moz-linear-gradient(#eee 0%, #AEBAC5 95%); background: -ms-linear-gradient( #eee 0%, #AEBAC5 95%); background: -o-linear-gradient( #eee 0%, #AEBAC5 95%); background: linear-gradient( #eee 0%, #AEBAC5 95%); z-index:200;}
div.niv1, div.niv1 a:visited, div.niv1 a {position:relative; width: 176px; padding: 2px 5px; margin:1px; cursor:hand; text-align: left;}
div.niv1:hover, div.niv1 a:hover {background-color: #679AC9;}

.editeur {width: 80%;}
#action {position: absolute; top: 10px; left: 30%; width: 30%;}
#okMsg {background-color: #D9E6A7; border: 2px solid #97AF3C; color: #97AF3C; padding: 15px;}
#errMsg {background-color: #E2B6A0; border: 2px solid #AF623C; color: #AF623C; padding: 15px;}

#centreLogin {position: relative; width: 100%; height: 100%; margin: 5px 0 0 0; margin-top: 90px;}
#centreLogin .field {clear: both; margin: 3px 0;}
#centreLogin form label {float: left; width: 30%; max-width: 200px; font-size: 1.5em; height: 25px; padding: 3px; font-weight: bold;}
#centreLogin form .formInput {float: left; width: 50%; max-width: 200px; font-size: 1.5em; height: 30px;}
#centreLogin form .formInput:after {clear: both;}
#formLogin {position: relative; width: 30%; margin: 10% auto; background: #fff; padding: 1%;}

#gauche {position: relative; float: left; width: 20%; margin: 0 30px 0 30px; margin-top: 90px; border: 1px solid #E5E5E5;  padding: 0;}
#centre {position: relative; float: left; width: 75%; border: 1px solid #E5E5E5; margin-top: 90px;}
.tblEntete {display: block; background-color: #585D62; color: #fff; height: 30px; padding: 5px 20px; font-size: 1.2em;}
.tblEntete a {color: #efefef;}
.tblEntete a:hover {color: #58BCD5;}
.tblEntete .onglet {border: 1px solid orange; background-color: orange; cursor: pointer; font-size: 0.9em;padding: 2px; color: #585D62; background: -webkit-linear-gradient( #fff 0%, orange 95%); background: -moz-linear-gradient( #fff 0%, #1E1817 95%); background: -ms-linear-gradient( #fff 0%, orange 95%); background: -o-linear-gradient( #fff 0%, orange 95%); background: linear-gradient( #fff 0%, orange 95%);} 
.listeElt { overflow: auto; padding: 20px 0px; font-size: 1.2em;}
.tblOff, .tblOn {min-height: 20px; border-bottom: 1px solid #ccc; padding: 3px;}
.tblOn, .tblOff:hover {background-color: #AEBAC5;}
#centre form {margin: 20px;}
#centre form label {float: left; width: 30%; max-width: 200px; font-size: 1.5em; min-height: 25px; padding: 3px; font-weight: bold;}
#centre form .formInput {float: left; width: 50%; max-width: 600px; font-size: 1.5em; min-height: 30px; padding: 2px 5px;}
#centre .item .formInput {float: left; width: 100%; max-width: 600px; font-size: 1.5em; min-height: 30px; padding: 2px 5px;}
#centre form .formInput:focus {border: 2px solid #585D62;}
#centre form .formDisable {float: left; width: 50%; max-width: 600px; font-size: 1.5em; min-height: 30px; border: none; background-color: inherit; font-weight: bold;}
#centre form .nofloat {height: 3px;}
.btnAction {margin: 20px 0;}
.btnDel {cursor: pointer; background-color: #CF4D47; color: #fff; -moz-border-radius: 5px;   -webkit-border-radius: 5px;   border-radius: 5px; border: none; padding: 3px;}
.btnDel:hover {background-color: #CF261E;}
.btnSave {cursor: pointer; background-color: #A7CF47; color: #fff; -moz-border-radius: 5px;   -webkit-border-radius: 5px;   border-radius: 5px; border: none; padding: 3px;}
.btnSave:hover {background-color: #ADF00D;}
.titre{font-size: 1.4em; background-color: #AAAAAA; padding: 2px; margin: 3px 0px;}

.statut0 {border-left: 5px solid red;}
.statut1 {border-left: 5px solid green;}
.statut2 {border-left: 5px solid orange;}
.statut3 {border-left: 5px solid violet;}
.statut4 {border-left: 5px solid black;}

.etab {color: #00539A; font-size: 12px; font-weight: bold;}
#libEtab, #puce {cursor: pointer;}
#postSearch {position: absolute; z-index: 100; background-color: #fff; padding: 10px; border: 1px solid #585D62; width: 331px;}
#postSearch label {float: left; width: 25%;}
#postSearch .text {float: left; width: 75%;}
#postSearch .nofloat {height: 3px;}

#ressListe .item {border-bottom: 1px solid gray; padding: 10px;}
#ressListe .lib {float: left; font-size: 1.2em; font-weight: bold; width: 300px; margin: 0 20px 0 0;}
#ressListe .elt {float: left; width: 150px;}
#ressListe .action {float: left; width: 150px;}

.blocEdit {position: relative; min-height: 150px; border: 1px dashed grey; }
.blocEdit:hover {background-color: #FEE3E3}
.blocEdit button {font-size: 1.3em; padding: 10px; margin: 40px 0;}
.blocEdit .del {position: absolute; top: 0; right: 0;}

.couleur {color: #EA621D; font-weight: bold;}

/* Standard 1280px */
.listeElt {height: 700px;}
#centre {min-height: 800px;}

/***** 1024px *****/
@media only screen and (min-width:959px) and (max-width: 1024px) {
	.listeElt {height: 550px;}
	#centre {min-height: 650px;}
	#centre form label {font-size: 1.1em; height: 15px; padding: 1px;}
	#centre form .formInput {font-size: 1.1em; height: 20px;}
}	

