@charset "utf-8";

@import "normalize";
@import "imports";

@import url("https://fonts.googleapis.com/css?family=Cabin:400,700");

body {
  font-family: "Cabin", sans-serif;
  color: $grey;
  background: $white;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $primary;
    }
  }

  hr {
    border: none;
    height: 1px;
    border-bottom: 1px solid $grey;
    margin: 10px 0;
  }

  main {
    max-width: 950px;
    margin: 10px auto;
    padding: 0 10px;
  }
}
