@charset "utf-8";

@import "normalize";
@import "imports";

@import url("https://fonts.googleapis.com/css?family=Cabin:400,700");

body {
  font-family: "Cabin", sans-serif;
  color: $grey;
  background: $white;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $primary;
    }
  }

  hr {
    border: none;
    height: 1px;
    border-bottom: 1px solid $grey;
    margin: 10px 0;
  }

  #container {
    max-width: $container;
    margin: 10px auto;
    padding: 0 10px;

    header {
      font-family: "Calibri", sans-serif;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .logo {
          margin-bottom: 5px;
          width: calc(#{$container}/ 2);
        }

        .slogan {
          font-size: 2.4em;
          margin-top: 5px;
        }
      }

      img.deco {
        width: 100%;
      }

      .sub-title {
        font-size: 32px;
        font-weight: 400;
        color: $primary;
        margin: 0;

        &.sub-2 {
          color: $grey;
        }
      }
    }

    nav {
      &.home {
        background: url("/assets/img/nav.jpg") no-repeat;
        background-size: contain;
        color: $white;
        height: 180px;
        width: 100%;
        padding: 15px 10px;

        img.virgule {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    footer {
      font-size: 10px;
      text-transform: uppercase;

      #mentions {
        float: right;
        clear: both;
      }

      img.icon {
        margin-left: 10px;
      }
    }
  }
}
