$cabin: "Cabin";

@font-face {
  font-family: $cabin;
  font-weight: 400;
  font-style: normal;
  src: local("Cabin Regular"), local("Cabin-Regular"), url("/assets/fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: $cabin;
  font-weight: 400;
  font-style: italic;
  src: local("Cabin Italic"), local("Cabin-Italic"), url("/assets/fonts/cabin/Cabin-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: $cabin;
  font-weight: 700;
  font-style: normal;
  src: local("Cabin Bold"), local("Cabin-Bold"), url("/assets/fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: $cabin;
  font-weight: 700;
  font-style: italic;
  src: local("Cabin Bold Italic"), local("Cabin-BoldItalic"),
    url("/assets/fonts/cabin/Cabin-BoldItalic.ttf") format("truetype");
  font-display: swap;
}
