---
layout: default
js: pages
---

<header class="page">
  <a href="/">
    <img src="{{- '/assets/img/creham.gif' -}}" alt="Creham" class="logo" />
  </a>
  <p class="sub-title slider-text">
    <span>urbanist<span class="e">e</span></span>
    <span>archit<span class="e">e</span>cte</span>
    <span>paysagist<span class="e">e</span></span>
    <span>psychosociologu<span class="e">e</span></span>
    <span>socio<span class="e">é</span>conomiste</span>
    <span>g<span class="e">é</span>ographe</span>
  </p>

  <div id="slider">
    <div class="mask">
      {% assign sliders = site.static_files | where: "slider", true %}
      {% for slider in sliders %}
        <img src="{{- slider.path -}}" alt="{{- file.basename -}}" class="slider-img">
      {% endfor %}
    </div>
  </div>
</header>

<nav class="page">
  <div class="links">
    {% assign ps = site.pages | sort: 'order' %}
    {% assign url = page.url | replace: '/', '' %}
    {% for p in ps %}
      {% if p.navigation %}
        <a href="{{- p.permalink -}}" {% if url == p.permalink %} class="couleur" {% endif %}>{{ p.title }}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% include link-nav.html %}
</nav>

<article class="content">
  <div class="info">
    {{ content }}
  </div>

  <div class="print">
    <span class="print-button" onclick="window.print()">
      <img src="{{- '/assets/img/icons/print.png' -}}" alt="Imprimer" class="icon">
      <span>Imprimer la page</span>
    </span>
    <hr>

    <div class="clearfix">
      <img src="{{- '/assets/img/virgule.png' -}}" alt="Virgule" class="virgule">
    </div>

    {% if page.image %}
      <img src="/assets/img/pages/{{- page.image -}}" class="page-image">
    {% endif %}
  </div>
</article>

<footer>
  <a href="#" title="Mentions légales" class="mentions mr-0">Mentions légales</a>
</footer>
