---
layout: default
---

<header class="page">
  <a href="/">
    <img src="{{ '/assets/img/creham.gif' }}" alt="Creham" class="logo" />
  </a>
  <p class="sub-title slider-text">
    <span data-slider-id="1">urbanist<span class="e">e</span></span>
    <span>archit<span>e</span>cte</span>
    <span>paysagist<span>e</span></span>
    <span>psychosociologu<span>e</span></span>
    <span>socio<span>é</span>conomiste</span>
    <span>g<span>é</span>ographe</span>
  </p>

  <div class="slider-img">
    <img src="{{ '/assets/img/slider/1-urbaniste.jpg' }}" alt="1-urbaniste">
  </div>
</header>

<nav class="page">
  <div class="links">
    {% assign ps = site.pages | sort: 'order' %}
    {% for p in ps %}
      {% if p.navigation %}
        <a href="{{ p.permalink }}" {% if page.url == p.permalink %} class="couleur" {% endif %}>{{ p.title }}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% include link-nav.html %}
</nav>

<article class="content">
  <div class="info">
    {{ content }}
  </div>

  <div class="print">
    <a href="#">
      <img src="{{ '/assets/img/icons/print.png' }}" alt="Imprimer" class="icon">
      <span>Imprimer la page</span>
    </a>
    <hr>
    <img src="{{ '/assets/img/virgule.png' }}" alt="Virgule" class="virgule">
  </div>
</article>

<footer>
  <a href="#" title="Mentions légales" class="mentions mr-0">Mentions légales</a>
</footer>